* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item {
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    padding-left: 0;
}

.item img {
    height: 100%;
    padding-left: 0%;
    padding: 0.5rem;

}

.item p{
    height: 100%;
    padding-left: 0%;
    padding: 0.5rem;
}

.preco1 {
    text-align: center;
    padding: 0%;
}
